In [9]:
import numpy as np
import pandas as pd

In [10]:
df = pd.read_csv("FileDataSet_PakOby/data_latihan.csv", sep = ";")
# directory file ini bisa di assignment ke dalam variabel lalu dipakai variabelnya
# Sep itu untuk pemisah didalam file csv nya, jadi harus diperiksa dulu pemisah nya itu apa...
df

,#node1,node2,node1_string_id,node2_string_id,neighborhood_on_chromosome,gene_fusion,phylogenetic_cooccurrence,homology,coexpression,experimentally_determined_interaction,database_annotated,automated_textmining,combined_score
0,ACE2,MEP1A,9606.ENSP00000389326,9606.ENSP00000230588,0.000,0,0,0,"0,175694444",0,"0,555555556","0,377083333","0,642361111"
1,ACE2,REN,9606.ENSP00000389326,9606.ENSP00000272190,0.000,0,0,0,0.062,0,0,"0,670138889","0,670833333"
2,ACE2,SLC6A19,9606.ENSP00000389326,9606.ENSP00000305302,0.000,0,0,0,"0,141666667","0,676388889",0,"0,677083333","0,69375"
3,ACE2,CLEC4M,9606.ENSP00000389326,9606.ENSP00000316228,0.000,0,0,0,0,0,0,"0,623611111","0,623611111"
4,ACE2,DPP4,9606.ENSP00000389326,9606.ENSP00000353731,0.000,0,0,0,0.062,0,"0,555555556","0,627083333","0,680555556"
5,ACE2,AGT,9606.ENSP00000389326,9606.ENSP00000355627,0.000,0,0,0,0.063,"0,586805556","0,625","0,609722222","0,693055556"
6,ACE2,PRCP,9606.ENSP00000389326,9606.ENSP00000377055,0.000,0,0,0,0.051,0,"0,555555556","0,457638889","0,645138889"
7,ACE2,TMPRSS2,9606.ENSP00000389326,9606.ENSP00000381588,0.000,0,0,0,0.099,"0,1875",0,"0,601388889","0,627777778"
8,ACE2,SLC1A7,9606.ENSP00000389326,9606.ENSP00000478639,0.000,0,0,0,0,0,0,"0,640972222","0,641666667"
9,ACE2,MME,9606.ENSP00000389326,9606.ENSP00000418525,0.000,0,"0,168055556",0,0.062,0,"0,555555556","0,523611111","0,666666667"
10,AGT,REN,9606.ENSP00000355627,9606.ENSP00000272190,0.000,0,0,0,0.062,"0,65","0,625","0,688888889","0,69375"
11,AGT,PRCP,9606.ENSP00000355627,9606.ENSP00000377055,0.000,0,0,0,0,"0,321527778",0,"0,267361111","0,454861111"
12,AGT,MME,9606.ENSP00000355627,9606.ENSP00000418525,0.000,0,0,0,0,"0,1875","0,625","0,321527778","0,664583333"
13,DPP4,MEP1A,9606.ENSP00000353731,9606.ENSP00000230588,0.000,0,0,0,0.087,0,"0,555555556",0.092,"0,56875"
14,DPP4,REN,9606.ENSP00000353731,9606.ENSP00000272190,0.000,0,0,0,0,0,0,"0,419444444","0,419444444"
15,DPP4,TMPRSS2,9606.ENSP00000353731,9606.ENSP00000381588,0.000,0,0,0,0.063,0,0,"0,470138889","0,475694444"
16,DPP4,PRCP,9606.ENSP00000353731,9606.ENSP00000377055,0.000,0,0,0,0.062,0,"0,555555556","0,393055556","0,632638889"
17,DPP4,MME,9606.ENSP00000353731,9606.ENSP00000418525,0.000,0,0,0,0.076,0,"0,555555556","0,460416667","0,647222222"
18,MEP1A,MME,9606.ENSP00000230588,9606.ENSP00000418525,0.000,0,0,0,0.062,0,"0,555555556","0,110416667","0,575"
19,MEP1A,PRCP,9606.ENSP00000230588,9606.ENSP00000377055,0.000,0,0,0,0,0,"0,555555556","0,422222222","0,6375"
20,MME,REN,9606.ENSP00000418525,9606.ENSP00000272190,0.000,0,0,0,0.053,0.062,0,"0,500694444","0,506944444"
21,MME,PRCP,9606.ENSP00000418525,9606.ENSP00000377055,0.000,0,0,0,0.050,0,"0,555555556","0,354861111","0,624305556"
22,PRCP,REN,9606.ENSP00000377055,9606.ENSP00000272190,0.000,0,0,0,0.062,0,0,"0,359722222","0,366666667"
23,REN,SLC6A19,9606.ENSP00000272190,9606.ENSP00000305302,0.000,0,0,0,0.051,0,0,"0,295138889","0,299305556"
24,SLC1A7,SLC6A19,9606.ENSP00000478639,9606.ENSP00000305302,0.047,0,0,0,0.049,0,0,"0,586111111","0,5875"

In [15]:
df.shape
# Baris , Kolom

(25, 13)

In [18]:
df.to_csv("FileDataSet_PakOby/Data_Latihan_Convert_to_CSV_Comma")

In [24]:
df2 = pd.read_json("FileDataSet_PakOby/data_latihan.json", orient = "split")
df2

#caranya sama aja kayak yang diatas tapi tambahin orient = "split". (Cari di web pandas langsung "Pandas Read Json")

         Hasil 1  Hasil 2  Hasil 3  Hasil 4  Hasil 5
data 1        29       32       17       18       44
data 2        91       54       62       46       38
data 3        45        6       10       41       16
data 4        54       31       61       22       20
data 5        28       68       33       94       81
data 6        63       86       83       18       22
data 7        23       23       49       47       85
data 8        85       30       19       51       63
data 9        68       72       31       10       55
data 10       46       77       35       61       95
data 11        7       39       88       98       10
data 12        1       58       62       99        6
data 13       51       55       92       23       16
data 14       90        6       36       70       50
data 15       37       86       78       90       66
data 16       77       85       31       49       77
data 17       97       99       63       28        3
data 18       94       38       50        1        7
data 19       42       72       35       69       68
data 20       54       15        3       82       40

In [43]:
xml = '''<?xml version='1.0' encoding='utf-8'?>
<data xmlns="http://example.com">
 <row>
   <shape>square</shape>
   <degrees>360</degrees>
   <sides>4.0</sides>
 </row>
 <row>
   <shape>circle</shape>
   <degrees>360</degrees>
   <sides/>
 </row>
 <row>
   <shape>triangle</shape>
   <degrees>180</degrees>
   <sides>3.0</sides>
 </row>
</data>'''

df3 = pd.read_xml(xml)
df3.to_xml("FileDataSet_PakOby/Data_Latihan_Convert_to_xml")
df3

      shape  degrees  sides
0    square      360    4.0
1    circle      360    NaN
2  triangle      180    3.0

In [33]:
df3 = pd.read_xml("FileDataSet_PakOby/data_latihan.xml")
df3

   experimentList  interactorList  interactionList
0             NaN             NaN              NaN

AttributeError: module 'pandas' has no attribute 'read_tsv'